.container {
}

.page {
  padding-bottom: 0;
  justify-content: center;
}

.zoomBtn {
  font-weight: bold;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 7px;
  border: 0px;
}

.zoomBtn:hover {
  background-color: #ccd2de;
  cursor: pointer;
}

.zoomBtn:first-child {
  margin-right: 1vw;
}
