.container {
  margin-top: 50;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
}

.suggestionListItem:hover {
  background-color: #ccd2de;
}

textarea {
  resize: none;
}
