.container {
  max-height: 1000vh; /* 증요! 건들지 마시오!*/
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
}

.suggestionListItem:hover {
  background-color: #ccd2de;
}

textarea {
  resize: none;
}
