.container {
  margin-top: 50;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
}

.suggestionListItem :hover {
  background-color: #195a62;
}
