.cardButton {
  background-color: white;
  text-align: center;
}

.cardButton:hover {
  background-color: #00205b;
  color: white;
  cursor: pointer;
}

.dragging {
  user-select: all;
  cursor: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
